chapter 09/WorkflowClient/Service References/ServiceReference/OrderProcessing1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderProcessingRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditCardExpiration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfItem" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderProcessingRequest" nillable="true" type="tns:OrderProcessingRequest" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="OrderProcessingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditAuthCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="ShipDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderProcessingResponse" nillable="true" type="tns:OrderProcessingResponse" />
</xs:schema>